<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Batch</title>
</head>
<body>

<table>
  <tr>  <th>Not yet prepared</th></tr>
    <tr th:each="product, itemStat : ${notYetPrepared.productsinBatch}">
<td th:text="${product.key.name}"></td>
<td th:text="${product.value}"></td>





    </tr>

    <tr><td><button th:attr="onclick=${' StartPreparing('+  notYetPrepared.getBatchId() +')'}">start preparation</button></td></tr>





</table>
<table th:each="batchInPreparation, itemStat : ${inPreparation}" th:if="${batchInPreparation.productsinBatch.size()!=0}">
    <tr>  <th>In preparation</th></tr>    <tr  th:each="product, itemStat : ${batchInPreparation.productsinBatch}">
        <td th:text="${product.key.name}"></td>
        <td th:text="${product.value}"></td>





    </tr>
<tr><td><button th:attr="onclick=${' BatchReady('+  batchInPreparation.getBatchId() +')'}">Products ready</button></td></tr>





</table>



</body>

<script th:inline="javascript">

    function StartPreparing(batchId){

        console.log(batchId)
        window.location.href="/batch/startpreparing/"+batchId;

    }

    function BatchReady(batchId){

        console.log(batchId)
        window.location.href="/batch/batchReady/"+batchId;

    }
</script>


</html>
