<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>

<table>
    <thead>
    <tr>
    <th>Name</th>
    </tr>
    </thead>
    <tbody>

   <tr th:each="product,itemstat:${Producten}">
    <td th:text="${product.name}"></td>
       <td>
       <div th:switch="${product.productStatus}">
           <div th:case="${T(kdg.be.Models.ProductState).Nieuw}">
           <button th:attr="onclick=${' MakeFinal('+  product.getProductId() +')'}"  >Make Final</button>
           <button th:attr="onclick=${' ToonBewerkPagina('+  product.getProductId() +')'}"  >Bewerken</button>
       </div>
           <button th:attr="onclick=${' Deactivate('+  product.getProductId() +')'}" th:case="${T(kdg.be.Models.ProductState).Finaal}" >Deactivate</button>

       </div>
       </td>
    <td><button th:attr="onclick=${' GaNaarDetailPagina('+  product.getProductId() +')'}">detailPagina</button></td>
</tr>

    </tbody>
</table>

<button th:onClick="NieuwProductAanmaken()"> Nieuw Product</button>

</body>

<script th:inline="javascript">

    function GaNaarDetailPagina(productId){

        console.log(productId)
        window.location.href="/producten/product/detail/"+productId;

    }

    function NieuwProductAanmaken(){

        window.location.href="/producten/create";

    }

    function MakeFinal(productId){

        window.location.href="/producten/final/"+productId;

    }

    function ToonBewerkPagina(productId){

        window.location.href="/producten/create/"+productId

    }
    function Deactivate(productId){

        window.location.href="/producten/deactivate/"+productId

    }

</script>
</html>
